*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/build
/gradle
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle

/app/build
/app/libs
/app/build.gradle
/app/proguard-rules.pro
